{% extends "::layout.html.twig" %}

{% block body %}
<div class="span9">
	{% if pagination.items %}
		<table class="table table-bordered table-striped table-condensed">
		<caption>
	    	<h4>Vos annonces</h4>
	   	</caption>
	   		<thead>
	      	<tr>
	      		<th {% if pagination.isSorted('ads.title') %}class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Titre', 'ads.title') }}</th>
	      		<th>Prix</th>
	      		<th {% if pagination.isSorted('ads.date') %}class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date', 'ads.date') }}</th>
	      		<th>Action</th>
	      	</tr>
		   	</thead>
			<tbody>
	         	{% for ad in pagination %}
	         	<tr>
	         		<td>{{ ad.title }}</td>
	         		<td>{{ ad.attribute.Price }}</td>
	         		<td>{{ ad.date|date('d/m/Y') }}</td>
	         		<td colspan="2"></td>
	      		</tr>
	        	{% endfor %}	
			</tbody>
		</table>
		<div class="navigation">
    		{{ knp_pagination_render(pagination) }}
		</div>
		{% else %}
		<p>Aucune annonce !</p>
		{% endif %}
</div>

<aside class="span3 sidespan">
	<div class="row">
		<ul>
			<li><a href="{{ path('fos_user_profile_edit') }}">Mon profil</a></li>
			<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
		</ul>
	</div>
	<div class="row">
		{% render(controller("adUserBundle:User:showAction")) %}
	</div>
	
</aside>
{% endblock %}