{% extends "::layout.html.twig" %}

{% block body %}
<div class="row centerbloc">
	<div class="span9">
		{% if pagination.items %}
		<table class="table table-bordered table-striped table-condensed">
		<caption>
	    	<h4>Annonces en attentes de confirmation de votre part.</h4>
	   	</caption>
	   		<thead>
	      	<tr>
	      		<th {% if pagination.isSorted('ads.title') %}class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Titre', 'ads.title') }}</th>
	      		<th>Ville</th>
	      		<th>Type de vendeur</th>
	      		<th>Prix</th>
	      		<th {% if pagination.isSorted('ads.date') %}class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date', 'ads.date') }}</th>
	            <th colspan="2">Actions</th>
	      	</tr>
		   	</thead>
			<tbody>
	         	{% for ad in pagination %}
	         	<tr>
	         		<td>{{ ad.title }}</td>
	         		<td>{{ ad.attribute.OwnerCity }}</td>
	         		<td>{{ ad.attribute.OwnerType }}</td>
	         		<td>{{ ad.attribute.Price }}</td>
	         		<td>{{ ad.date|date('d/m/Y') }}</td>
	  				<td><a class="icon-eye-open center block" href="{{ path('ad_details_ads', { 'id' : ad.id}) }}"></a></td>
					<td><a class="icon-ok center block" href="{{ path('ad_confirm_ads', { 'id': ad.id, 'dash' : 1 }) }}"></a></td>
	      		</tr>
	        	{% endfor %}	
			</tbody>
		</table>
		<div class="navigation">
    		{{ knp_pagination_render(pagination) }}
		</div>
		{% else %}
		<p>Aucune annonce non valider.</p>
		{% endif %}
	</div>
	
	<aside class="span3 dashg">
		<ul>
			<li><a href="{{ path('ad_manage_ads') }}">Gérer les annonces</a></li>
			<li><a href="{{ path('ad_manage_category') }}">Gérer les catégories</a></li>
			<li>Gérer les utilisateurs</li>
		</ul>
	</aside>
{% if app.request.requestUri|length > 11  %}
<div class="span5">
	{% if app.request.requestUri|slice(14) == 'delete' %}
	<div class="alert bloc alert-info">
		<strong>Info !</strong> L'annonce a bien était supprimer.
	</div>
	{% endif %}
	{% if app.request.requestUri|slice(14) == 'update' %}
	<div class="alert bloc alert-success">
		<strong>Info !</strong> L'annonce a bien était mise à jour.
	</div>
	{% endif %}
</div>
{% endif %}
</div>
{% endblock %}