{% extends "::layout.html.twig" %}

{% block body %}
<div id="home-slider">
	<ul>
		{% for ad in prenium %}
		<li>
			<div class="illus">
				<img src="{{ asset('bundles/adclassified/img/annonce/carousel-'~ad.pictureName) }}" alt="{{ ad.title }}">
				<div class="frise"></div>
			</div>
			<div class="texte">
				<h3>{{ ad.title }}</h3>
				<div class="price">{{ ad.attribute.Price }} €</div>
				<p>
					{{ ad.attribute.Comment }}
				</p>
				<a href="/ads/details/{{ ad.id }}" class="button">Détails</a>
			</div>
		</li>
		{% endfor %}
	</ul>
	<div class="clear"></div>
	<div class="pager"></div>

	<img src="{{ asset('bundles/adclassified/img/a-la-une.png') }}" alt="À la Une" class="label">
</div>

<ul class="sort-bar">
	
	<li {% if (pagination.isSorted('ads.date') or app.request.get('sort') == null) %}class="active"{% endif %}>{{ knp_pagination_sortable(pagination, 'Publiés récemment', 'ads.date') }}</a></li>
	<li {% if pagination.isSorted('ads.viewCount') %}class="active"{% endif %}>{{ knp_pagination_sortable(pagination, 'Les plus populaires', 'ads.viewCount') }}</a></li>
	<li><a href="#_">Au hazard</a></li>
</ul>


{% if pagination.items %}
	<ul class="ads-list cf ajxrfrsh">
		{% for ad in pagination %}
		<li>
			<a href="/ads/details/{{ ad.id }}" class="image-link">
				<img src="{{ asset('bundles/adclassified/img/annonce/list-'~ad.pictureName) }}" alt="{{ ad.title }}">
				<span class="price">{{ ad.attribute.Price }} €</span>
				<span class="loupe"><span>Voir l'annonce</span></span>
			</a>
			<div>
				<h3>{{ ad.title }}</h3>
				<a href="/ads/details/{{ ad.id }}" class="button">Détails</a>
			</div>
		</li>
		{% endfor %}
	</ul>
	
	{% if knp_pagination_render(pagination)|length > 1 %}
	<div class="pagination">
		{{ knp_pagination_render(pagination) }}
	</div>
	{% endif %}
{% else %}
<p>Il n'y as aucune annonce dans cette catégorie !</p>
{% endif %}

<section id="about-bloc">
	<h3>Occasions bateaux : voiliers et bateaux d'occasion à la vente</h3>
	<p>Vous êtes un passionné de sports nautiques, un professionnel de la mer, un mordu de voiliers et de navigation, ou un simple particulier à la recherche de sorties en mer en bateau d'agrément ?</p>
	<p>Passez, ou consultez nos annonces d'achat-vente de <strong>bateaux d'occasion</strong>, bateaux à voile ou à moteur, <strong>bateaux neufs ou d'occasion</strong>. Mais vous pouvez également trouver des annonces de « <strong>places de port</strong> », des annonces d'accastillages ou de remorques de bateaux.</p>
	<p><span>Déposez votre ou vos annonces de bateaux d'occasion et neufs GRATUITEMENT sur notre site !</span></p>
	<p>Toutes les annonces restent visible pendant 12 mois, le dépôt d'annonces est illimité et gratuit sans aucuns frais cachés.</p>
	<a href="#_" class="button">S'inscrire maintenant</a>
</section>

<section class="facebook-bloc">
	<iframe src="http://www.facebook.com/plugins/likebox.php?id=154169577960601&amp;connections=10&amp;stream=false&amp;header=true"></iframe>
</section>

{% endblock %}



{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/adclassified/js/searchajax.js') }}"></script>
{% endblock %}