{% extends "::layout.html.twig" %}

{% block body %}

<div class="row centerbloc">
	<section class="span9 annonce centertext">
		<div class="row">
			<div class="span3 bloc">
				{{ ad.title }}
			</div>
			<div class="span1 bloc price">
				{{ ad.attribute.Price }}
			</div>
		</div>
		<div class="row">
			<div class="span9 bloc well photo">
				<img src="/uploads/pictures/{{ ad.pictureName }}" alt="photo de l'annonce"/>
			</div>
			
			
			<div class="span9 bloc well vendeur">
				<h4>Informations sur le vendeur</h4>
				<ul>
					<li><b>Type de vendeur</b> : {{ ad.attribute.OwnerType }}</li>
					<li><b>Nom du vendeur</b> : {{ ad.userId.username }}</li>
					<li><b>Adresse</b> : {{ ad.attribute.OwnerAdress }}</li>
					<li><b>Ville</b> : {{ ad.attribute.OwnerCity }}</li>
					<li><b>Code postal</b> : {{ ad.attribute.OwnerZip }}</li>
					<li><b>Téléphone</b> : {{ ad.attribute.OwnerPhone }}</li>
										
				</ul>
			</div>
		</div>
	</section>
	<section class="span4 sidespan">
		{% render(controller("adClassifiedBundle:Message:newMessage")) %}
	</section>
</div>



{% endblock %}