{% extends "::layout.html.twig" %}

{% block body %}

<table class="table table-bordered table-striped table-condensed">
<caption>
	<h4>Toutes les annonces</h4>
</caption>
   	<thead>
      	<tr>
        	<th>Titre</th>
            <th>Prix</th>
            <th>Villes</th>
            <th>Vendeur</th>
            <th>Type de vendeur</th>
            <th>Status</th>
            <th colspan="2">Actions</th>
      	</tr>
   	</thead>
	<tbody>
		{% for ad in pagination %}
        <tr>
            <td>{{ ad.title }}</td>
            <td>{{ ad.attribute['Price'] }} €</td>
            <td>{{ ad.attribute['OwnerCity'] }}</td>
            <td>{{ ad.userId.username }}</td>
            <td>{{ ad.attribute['OwnerType'] }}</td>
            <td>{% if ad.attribute['Confirmed'] == 1 %}<a class="icon-check center block" href="{{ path('ad_confirm_ads', { 'id': ad.id, 'dash': 0 }) }}"></a>{% else %}<a class="icon-remove-circle center block" href="{{ path('ad_confirm_ads', { 'id': ad.id, 'dash': 0  }) }}"></a>{% endif %}</td>
            <td><a class="icon-eye-open center block" href="{{ path('ad_details_ads', { 'id' : ad.id}) }}"></a></td>
            <td><a class="icon-remove center block" href="{{ path('ad_delete_ads', { 'id': ad.id }) }}"></a></td>
        </tr>
		{% endfor %}
	</tbody>
</table>
<div class="navigation">
    	{{ knp_pagination_render(pagination) }}
	</div>

{% if app.request.requestUri|length > 11  %}
<div class="span5">
	{% if app.request.requestUri|slice(14) == 'delete' %}
	<div class="alert bloc alert-info">
		<strong>Info !</strong> L'annonce a bien était supprimer.
	</div>
	{% endif %}
	{% if app.request.requestUri|slice(14) == 'update' %}
	<div class="alert bloc alert-success">
		<strong>Info !</strong> L'annonce a bien était mise à jour.
	</div>
	{% endif %}
</div>
{% endif %}
{% endblock %}