{% for ad in pagination %}
	<li>
		<a href="/ads/details/{{ ad.id }}" class="image-link">
			<img src="{{ asset('bundles/adclassified/img/annonce/list-'~ad.pictureName) }}" alt="{{ ad.title }}">
			<span class="price">{{ ad.attribute.Price }} €</span>
			<span class="loupe"><span>Voir l'annonce</span></span>
		</a>
		<div>
			<h3>{{ ad.title }}</h3>
			<a href="/ads/details/{{ ad.id }}" class="button">Détails</a>
		</div>
	</li>
{% endfor %}