{% block breadcrumb %}
<section class="breadcrumb wrap">
	<div>
		<a href="{{ path('ad_index') }}">Accueil</a>{% if category is not null %}<a href="/filter/{{ category.slug }}">{{ category.name }}</a>{% endif %}<span>{{ recherche }}</span>
	</div>
</section>
{% endblock %}

<section class="main-content">
	<h1>Annonces pour {{ recherche }} ({{ nbrResults }})</h1>
	{% if pagination.items is not empty %}
		<ul class="ads-list cf">
		{% for ad in pagination %}
			<li>
				<a href="/ads/details/{{ ad.id }}" class="image-link">
					<img src="{{ asset('bundles/adclassified/img/annonce/list-'~ad.pictureName) }}" alt="{{ ad.title }}">
					<span class="price">{{ ad.attribute.Price }} €</span>
					<span class="loupe"><span>Voir l'annonce</span></span>
				</a>
				<div>
					<h3>{{ ad.title }}</h3>
					<a href="/ads/details/{{ ad.id }}" class="button">Détails</a>
				</div>
			</li>
		{% endfor %}
		</ul>
		
		{% if knp_pagination_render(pagination)|length > 1 %}
		<div class="pagination">
			{{ knp_pagination_render(pagination) }}
		</div>
		{% endif %}
		
	{% else %}
	
	<p>Aucun résultat pour votre recherche</p>
	{% endif %}
</section>

<aside class="left-sidebar">

	{% if (category is not null) and (category.children is not empty) %}
	<section class="bloc sous-categories">
		<p class="title">Sous catégories</p>
		<ul>
		{% for cat in category.children %}
			<li><a href="/filter/{{ cat.slug }}">{{ cat.name }}</a></li>
		{% endfor %}
		</ul>
	</section>
	{% elseif (category is not null) and (category.parent is not empty) %}
	<section class="bloc sous-categories">
		<p class="title">Catégorie parente</p>
		<ul>
			<li><a href="/filter/{{category.parent.slug }}">{{category.parent.name }}</a></li>
		</ul>
	</section>
	{% endif %}

	<section class="bloc mots-cles">
		<p class="title">Mots clés</p>
		<a href="#_">Marseille</a>
		<a href="#_">Lorem</a>
		<a href="#_">ipsum</a>
		<a href="#_">doloret</a>
		<a href="#_">amet</a>
	</section>

	<section class="bloc facebook">
		<iframe src="http://www.facebook.com/plugins/likebox.php?id=154169577960601&amp;connections=10&amp;stream=false&amp;header=true"></iframe>
	</section>
</aside>

