<div class="span9 firstspan ajxrfrsh">
	{% if pagination.items %}
	<div class="span9 tabSort firstspan">
		<ul class="nav">
			<li class="span2 {% if (pagination.isSorted('ads.date') or app.request.get('sort') == null) %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Annonces récentes', 'ads.date') }}</li>
			<li style="left:135px;" class="span2 {% if pagination.isSorted('ads.viewCount') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Annonces populaires', 'ads.viewCount') }}</li>
		</ul>
	</div>

	{% for ad in pagination %}
	<div class="span9 firstspan well ad">
		<div class="span2 adleft">
			<a href=""><img src="/uploads/pictures/{{ ad.pictureName }}" alt="Photo de l'annonce"/></a>
		</div>	
		<div class="span6 adsright">
			<h3 class="span4"><a href="/ads/details/{{ ad.id }}">{{ ad.title }}</a></h3>
			<div class="offset1 span1">
				{{ ad.attribute.Price }}€
			</div>
			<div class="span4 admeta">
				<a>{{ ad.categoryId.name }}</a>
				<a>{{ ad.userId.username }}</a>
				<p>{{ ad.date|date("d/m/Y") }}</p>
			</div>
			<div class="span4 comment">
				<p>{{ ad.attribute.Comment }}			
			</div>
		</div>
	</div>

	{% endfor %}
	<div class="navigation">
    	{{ knp_pagination_render(pagination) }}
	</div>
	{% else %}
	<div class="firstspan well">
		<p>Il n'y as aucune annonce dans cette catégorie !</p>
	</div>
	{% endif %}
</div>