<!DOCTYPE html>
<html>
  <head>
  	<!-- meta -->
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 	
 	<!-- include -->
  	{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/assets/css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/adclassified/css/style.css') }}" type="text/css" />
	{% endblock %}
	
	
    <title>{% block title %}ad{% endblock %}</title>
  </head>
  <body>
  	<div class="container">
	  	<header class="span12">
	  		<div class="row">
		  		<div class="span12" id="header_top">
			  		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				    	<p>Connecté en tant que {{ app.user.username }} - <a href="{{ path('ad_dashboard') }}">Dashboard</a> - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></p>
					{% else %}
				    	<p>Bienvenue, Visiteur ! <a href="{{ path('fos_user_registration_register') }}">S'enregistrer</a> <a href="{{ path('fos_user_security_login') }}">Connexion</a></p>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="span12" id="header_main">
					<h1>Acheter un bateau !</h1>
		        	<p>Acheter, vendre, louer un bateau ou jet-ski</p>
		        </div>
		    </div>
		    <div class="row">
		        <nav class="span12 navbar">
					<div class="navbar-inner">
					  <div class="container">
					    <ul class="nav">
				            <li class="span2 main"><a href="{{ path('ad_index') }}">Acceuil</a></li>
				         	<li class="divider-vertical sep"></li>
				            <li class="span2 main dropdown">
				            	<a class="dropdown-toggle" data-toggle="dropdown"  href="#">
				            		Catégories<b class="caret"></b>
				            	</a>
				                <ul class="dropdown-menu span6">
				                	{% render(controller("adClassifiedBundle:Default:renderCategory")) %}
							    </ul>
				            </li>
				  			<li class="divider-vertical sep"></li>
				            <li class="span2 main"><a href="">Acheter un bateau ?</a></li>
				     	  	<li class="divider-vertical sep"></li>
				            <li class="span2 main"><a href="">Actualité</a></li>
				 			<li class="divider-vertical sep"></li>
				            <li class="span2 main"><a href="">Votre publicité</a></li>
							<li class="divider-vertical sep"></li>
				            <li class="span3 sidespan"><div><a class="btn btn-medium btn-block btn-info" href="{{ path('ad_new_ads') }}">Poster une annonce</a></div></li>
			         	</ul>
			       	 </div>
			       	</div>
		    	</nav>
		    </div>
	  	</header>
	  	<div class="span12 content">
		{% block body %}
		
		{% endblock %}
		</div>
		<footer class="span12 footer">
			<p>footer</p>
		</footer>
 	</div>
 	
 	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
 	<script src="{{ asset('assets/js/bootstrap-dropdown.js') }}"></script>
	{% block javascripts %}
		
	{% endblock %}
 
  </body>
</html>