<!DOCTYPE html>
<html>
  <head>
  	<!-- meta -->
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 
 	<!-- include -->
    <link rel="stylesheet" href="{{ asset('bundles/adclassified/css/style.css') }}" type="text/css" />
    
    <title>{% block title %}ad{% endblock %}</title>
 
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/cnamcatclinic/css/style.css') }}" type="text/css" media="all" />
	{% endblock %}
  </head>
  <body>
  	<header>
  		<div id="header_top">
	  		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		    	<p>Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></p>
			{% else %}
		    	<p>Bienvenue, Visiteur ! <a href="{{ path('fos_user_registration_register') }}">S'enregistrer</a> <a href="{{ path('fos_user_security_login') }}">Connexion</a></p>
			{% endif %}
		</div>
		<div id="header_main">
			<h1>Acheter un bateau !</h1>
        	<p>Acheter, vendre, louer un bateau ou jet-ski</p>
        </div>
        <div id="header_menu">
          	<ul>
	            <li><a href="{{ path('home') }}">Acceuil</a></li>
	            <li><a href="{{ path('list') }}">Catégories</a></li>
	            <li><a href="">Acheter un bateau ?</a></li>
	            <li><a href="">Actualité</a></li>
	            <li><a href="">Votre publicité</a></li>
         	</ul>
        </div>
  	</header>
  	<div id="search_bar">
  		<form method="post" action="">
  			<input type="text" />
       		<select name="category" id="category">
           	<option value="category">Categories</option>
       		</select>
  			<input type="submit" />
  		</form>
  	</div>
	<div id="content">
		{% block body %}
		{% endblock %}
	</div>
	<div id="footer">
		<p>footer</p>
	</div>
 
	{% block javascripts %}
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
	{% endblock %}
 
  </body>
</html>